body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
p {
  font-size: 16px;
}
.banner {
  padding-top: 64px;
  padding-bottom: 64px;
  background: #315A88;
  color: #ffffff;
  background: -webkit-linear-gradient(45deg, #315A88 #98acc3);
  background: -o-linear-gradient(45deg, #315A88, #98acc3);
  background: -moz-linear-gradient(45deg, #315A88, #98acc3);
  background: linear-gradient(45deg, #315A88, #98acc3);
}
.header {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.header h1 {
  letter-spacing: 1px;
  font-weight: 500;
}
.header h3 {
  font-weight: 400;
}
hr {
  border-top: 1px solid #eeeeee;
  width: 85%;
  margin-top: 32px;
  margin-bottom: 32px;
}
.project-title {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}
